extends ./../MainMenu

block content

    .trip-heading Trips by #{registration}
        .trips
            each trip in trips
                .trip
                    a(href="/car/" + registration + "/" + trip.id + "/trip")
                        img(src="/images/WorkTrip.png" style=relative)
                        img(class="tripMap" src="http://maps.googleapis.com/maps/api/staticmap?&zoom=auto&scale=2&size=288x256&maptype=roadmap&format=png&visual_refresh=true&path=#{trip.vertices}&sensor=false")
                        .tripDayText
                            p #{trip.date}
                        .tripSimpleLabel.fuelAverage
                            p #{trip.fuelAverage} L/km fuel
                        .tripSimpleLabel.fuelUsed
                            p #{trip.fuelUsed} L fuel used
                        .tripSimpleLabel.kmdriven
                            p #{trip.kmDriven} km driven