extends ./../MainMenu

block header

block content
    .orgContainer
        h1= org.name
        .orgBlock.people
            h2 Members:
            .members
                for member in org.members
                    if member.role == "Member"
                        a(href="/user/#{member.id}").user=member.name

            h2 Admins:
            .members
                for member in org.members
                    if member.role == "Admin"

                        a(href="/user/#{member.id}").user=member.name
            if role == "Admin"
                a(href="/organizations/#{org.id}/edit").buttonlink
                    button Edit

        .orgBlock.cars
            .spanner
                h2 Cars:
                if role == "Admin"
                    a(href="/organizations/#{org.id}/newcar")
                        img(src="/images/add.png" title="Car Settings").tripIcon
            for car in org.cars
                .car
                    h3 #{car.registration}
                    if role == "Admin"
                        a(href="/car/#{car.registration}/delete")
                            img(src="/images/delete.png" title="Car Settings").tripIcon
                        a(href="/car/#{car.registration}/edit")
                            img(src="/images/cog.png" title="Car Settings").tripIcon

                    a(href="/car/#{car.registration}/trips")
                        img(src="/images/tripsIcon.png" title="Car trips").tripIcon

                    table
                        tr
                            td #[b Merke:]
                            td #{car.make}
                        tr
                            td #[b Modell:]
                            td #{car.type}
                        tr
                            td #[b Årsmodell:]
                            td #{car.prodYear}

            a(href="/organizations/#{org.id}/carOverview").buttonlink
                button Map View